.custom-btn {
  padding: 15px 25px;
  border: none;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms ease;
  overflow: hidden;
  cursor: pointer;
}

.custom-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms ease;
}

.custom-btn:hover {
  color: #e8e8e8;
}

.custom-btn:hover::before {
  width: 100%;
}
